button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  background-color: #0d1117;
  color: #f0f6fc;
}

input {
  border: 1px solid #f0f6fc;
}
